build/
*.egg-info
__pycache__
.pycache_cache
*/build/
*/*.egg-info
*.pyc
*/__pycache__
.xmake/
.vscode/
log/
*.log
checkpoints/
experiment_deepspeed/
*.nsys-rep
*.qdstrm
.ruff_cache/
*.db
*.parquet
*.data
*.perf
*.svg
*.stacks
experiments/
.expr_config
pipelines/